body {
  background-color: rgb(45, 45, 53);
}

.main-menu {
  color: rgb(29, 127, 219);
  font-size: 400%;
  font-family: 'tourney';
  transform: skew(-10deg, -10deg);
  text-align: center;
  margin-top: 200px;
}

h1 {
  color: yellow;
}

.mode {
  text-align: center;
}

.mode button{
  color: yellow;
  background-color:black;
  font-size: 100%;
}