.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

body {
  color: blue;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
